:root{
    --main-orange: #f19736;
    --main-white: #f6f9fc;
}

.imma {
    font-weight: bold;
    color: var(--main-orange);  
    font-style: normal;
}
.hero.fullscreen .hero-body .content {
    max-width: 75em;
    margin: 0 auto 1.5em; 
    /*margin-left: 5.5em;*/
    width: 80%; 
}
.family-btn{
    margin-top: 1em;
    width: 100%;
}
.family-btn .btn{
    margin: 0 1em ;
    border: solid 1px var(--main-orange);
    color: var(--main-orange);
}
.family-btn .btn:hover{
    color: var(--main-white);
    background-color: var(--main-orange);
    transform: scale(1.05);
}
.family-btn .btn.orange{
    color: var(--main-white);
    background-color: var(--main-orange);
}
.family-btn .btn.orange:hover{
    transform: scale(1.05);
}
.skills-n-advantages .row{
    width: 100%;
}
.row.m-10{
    margin: 10rem;
    
}
.seccion.bg-light{
    padding: 10rem;
}
.card{
    max-width: 70%;
    margin: auto;
}
.h3.bg-light{
    margin-bottom: 2em;
}
.u-shadow.bg-light{
    margin: 2em;
}
.about-me{
    padding: 10em;
}
.frame{
    max-width: 450px;
    margin: 3.5em auto 1.5em;
}
@media only screen and (max-width: 768px){
    .img-stretch.w-120.h-120{
        margin: 5em auto 0;
        max-width: 180px;
        max-height: 180px;
    }
    .title{
        text-align: center;
        font-size: 16px;
    }
    .btn{
       
        width: 100%;
    }
    .hero.fullscreen .hero-body{
        max-height: 100%;
    }
    .hero.fullscreen .hero-body .content{
        margin: 0 auto 0;
        width: 100%;
    }
    .btn.orange{
        margin-top: 1em;
    }
    .seccion.bg-light{
        padding: 0;
        padding-top: 2em;
        padding-bottom: 1.5em;
    }
    .col-4{
        margin-top: 1rem;
    }
    .row.w-100.h-100{
        margin: 0 auto 0;
    }
    .h3.bg-light{
        text-align: center;
    }
    .card{
        max-width: 100%;
        margin: auto;
        
    }
    .u-shadow.bg-light{
        margin: 1em;
    }
    .title.white{
        font-size: 18px;
        text-align: left;

    }
    .subtitle.text-gray-300{
        font-size: 14px;
        text-align: left;
    }
    .about-me
    {
        padding: 1em;
    }
}
